asgiref==3.2.3
csvsqlite3==0.1.1
Django==3.0.3
django-cleanup==4.0.0
django-crispy-forms==1.8.1
django-rest-framework==0.1.0
djangorestframework==3.11.0
numpy==1.18.1
opencv-python==4.1.2.30
Pillow==7.1.0
pytz==2019.3
scipy==1.4.1
sqlparse==0.3.0
